{{#each items}}
    <a href="./activity.html?code={{code}}" class="hot-item hot-item-activity">
        <div class="act-adv-img">
            <img src="{{formatBigRectImage pic}}"/>
        </div>
        <div class="hot-item-cont">
            <div class="act-title am-flexbox am-flexbox-align-middle am-flexbox-justify-between">
                <h1 class="am-flexbox-item t-3dot">{{title}}</h1>
                <span>{{formatDate startDatetime}}~{{formatDate endDatetime}}</span>
            </div>
        </div>
    </a>
{{/each}}
