{{#each items}}
    <a href="./course-detail.html?code={{code}}" class="hot-item hot-item-course">
        <div class="hot-adv">
            <img class="wp100 hp100" src="{{formatImage pic}}"/>
            <div class="hot-remain"><p>还剩{{remainNum}}人</p></div>
        </div>
        <div class="hot-item-cont">
            <h1>{{name}}</h1>
            <div class="hot-item-time">
                <span class="hot-time">{{formateTime skStartDatetime}}-{{formateTime skEndDatetime}}</span>
                <span class="hot-course-title">{{realName}}</span>
            </div>
            <div class="hot-item-addr">
                <span class="t-3dot">{{address}}</span>
            </div>
        </div>
    </a>
{{/each}}
